@import "../../resources/css/scss/variable";
@import "../../resources/css/scss/mixins";
$bottom-nav-height: rem(74px);
$bottom-nav-sm-height: rem(64px);
$category-bg-1: #fdd6da;
$category-bg-2: #ffdfdd;
$category-bg-3: #f2f1ec;
$category-bg-4: #f9ece5;
$category-bg-5: #e4daf2;
$category-bg-6: #f2f1df;
$category-bg-7: #f5e1d0;
$category-bg-8: #fdf7df;
$category-bg-9: #f2e8dc;
$category-bg-10: #ffd9c5;
$category-bg-11: #f6eede;
$category-bg-12: #e1e8e8;
$sub-category-bg-1: #ffd9a5;
$sub-category-bg-2: #f5ecd2;
$sub-category-bg-3: #d8dec0;
$sub-category-bg-4: #faecdf;
$sub-category-bg-5: #faeeae;
.categories-section {
    padding: rem(24px) 0 5rem;
}

.food-category {
    background: $category-bg-1;
}

.flowers-category {
    background: $category-bg-2;
}

.home-category {
    background: $category-bg-3;
}

.cooking-category {
    background: $category-bg-4;
}

.gifts-category {
    background: $category-bg-5;
}

.games-category {
    background: $category-bg-6;
}

.toys-category {
    background: $category-bg-7;
}

.baby-category {
    background: $category-bg-8;
}

.diy-category {
    background: $category-bg-9;
}

.pets-category {
    background: $category-bg-10;
}

.beauty-category {
    background: $category-bg-11;
}

.fashion-category {
    background: $category-bg-12;
}

.category-wrap {
    border-radius: rem(12px);
    display: block;
    text-align: center;
    height: 100%;
}

.categories-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: rem(-5px);
    margin-right: rem(-5px);
}

.categories-col {
    padding: rem(5px);
    flex: 0 0 50%;
    max-width: 50%;
}

.category-text {
    color: $black;
    @include text-truncate;
    padding: 0 0.5rem 0.5rem 0.5rem;
    margin-bottom: 0;
}

@media (min-width: $sm-device) {
    .categories-row {
        margin-left: rem(-8px);
        margin-right: rem(-8px);
    }
    .categories-col {
        padding: rem(8px);
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: $lg-device) {
    .categories-col {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: $xl-device) {
    .categories-row {
        margin-left: rem(-14px);
        margin-right: rem(-14px);
    }
}

// Address Start
.address-section {
    background: $primary;
    color: $white;
    position: fixed;
    bottom: $bottom-nav-height;
    left: 0;
    right: 0;
}

.address-wrap {
    padding: rem(10px);
    display: flex;
    align-items: center;
    max-width: 79rem;
    margin: 0 auto;
}

.address-text {
    margin: 0;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.address-pin-img {
    margin-right: rem(10px);
    width: rem(12px);
}

.address-close-img-wrap {
    width: 24px;
    text-align: center;
    flex: 0 0 24px;
    img {
        width: rem(10px);
    }
}

.img-wrap {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: rem(5px) 0;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

@media (min-width: $xl-device) {
    .address-section {
        display: none;
    }
}

@media (max-width: $sm-device) {
    .address-section {
        bottom: $bottom-nav-sm-height;
    }
    .category-text {
        font-size: rem(15px);
        line-height: rem(20px);
    }
    .sub-categories-list-row {
        max-height: calc(100vh - 120px);
        overflow-y: auto;
    }
}

// Address End
// Single Sub Category Start
.sub-categories-list-section {
    padding-top: rem(60px);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background: $white;
}

.sub-categories-list-heading {
    margin-bottom: 0;
}

.sub-category-img-wrap,
.sub-category-text,
.show-more-link,
.show-less-link {
    display: none;
}

.sub-category-mobile-text {
    display: inline-block;
    margin: 0 rem(10px) rem(4px) 0;
}

.sub-categories-list-row {
    display: flex;
    padding-top: rem(8px);
    padding-bottom: rem(20px);
    margin-left: rem(-20px);
    margin-right: rem(-20px);
    position: relative;
    max-height: calc(100vh - 162px);
    overflow-y: auto;
}

.sub-category-btn-wrap {
    transition: .2s all linear;
    display: block;
    position: absolute;
    top: rem(7px);
    right: 0;
    padding: 0 rem(20px);
    z-index: 99;
    background: linear-gradient( 90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 1) 100%);
    .sub-category-btn {
        background: $white;
        border: 1px solid $gray10;
        border-radius: rem(12px);
        padding: rem(12px);
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(42px);
        height: rem(42px);
        img {
            width: rem(12px);
            transition: all 0.4s ease-in-out;
        }
        &:hover,
        &:focus,
        &:active {
            background: $white;
            border: 1px solid $gray10;
        }
    }
}

.sub-category-border-bottom {
    border-bottom: 1px solid $gray10;
}

.open {
    .sub-categories-list-row {
        padding: 0;
    }
    &.sub-categories-list-section {
        backdrop-filter: blur(20px);
        background: rgba($white, 0.9);
        bottom: 0;
    }
    .sub-category-mobile-text {
        margin-bottom: rem(10px);
    }
    .sub-category-btn-wrap {
        //top: rem(19px);
        background: linear-gradient( 90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
        img {
            transform: rotate(180deg);
        }
    }
    .sub-category-btn {
        img {
            width: rem(12px);
            transform: rotate(-180deg);
        }
    }
    .sub-category-border-bottom {
        border: none;
    }
    .sub-categories-list-col {
        &:first-child {
            padding-top: rem(19px);
        }
        &:last-child {
            padding-bottom: rem(19px);
        }
    }
}

.sub-categories-list-col {
    white-space: nowrap;
}

@media (min-width: $md-device) {
    .sub-categories-list-row {
        padding-top: rem(20px);
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    .sub-category-btn-wrap {
        top: rem(19px);
        padding: 0 rem(24px);
    }
}

@media (min-width: $xl-device) {
    .sub-categories-list-section {
        padding: 0;
        position: unset;
    }
    .sub-category-wrap {
        display: flex;
        align-items: center;
        padding: rem(16px) 0;
    }
    .sub-category-img-wrap {
        width: rem(80px);
        height: rem(80px);
        margin-right: rem(16px);
        border-radius: 12px;
        background-color: #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(6px) rem(3px);
    }
    .sub-category-text {
        margin: 0;
        display: block;
    }
    .sub-category-mobile-text {
        display: none;
    }
    .sub-category-btn-wrap {
        display: none;
    }
    // Single Sub Category List Start
    .sub-categories-list-heading {
        margin-bottom: rem(16px);
    }
    .sub-categories-list-row {
        padding-top: 0;
        padding-bottom: 0;
        flex-wrap: wrap;
        overflow-x: unset;
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .sub-categories-list-col {
        padding-left: rem(16px);
        padding-right: rem(16px);
        width: 25%;
        flex: 0 0 25%;
        flex-wrap: wrap;
        white-space: normal;
    }
    .show-more-link,
    .show-less-link {
        flex: 1 1 100%;
        text-align: center;
        display: block;
    }
    // Single Sub Category List End
    .sub-category-border-bottom {
        border: none;
    }
}

// Single Sub Category End
// Single Sub Category List  BACKGROUND Start
.groceries-category-img-wrap {
    background: $sub-category-bg-1;
}

.delicatessen-category-img-wrap {
    background: $sub-category-bg-2;
}

.beer-category-img-wrap {
    background: $sub-category-bg-3;
}

.coffee-category-img-wrap {
    background: $sub-category-bg-4;
}

.chocolates-category-img-wrap {
    background: $sub-category-bg-5;
}

// Single Sub Category List  BACKGROUND  End
//product slider Start
.product-one {
    margin-top: rem(200px);
}

@media (min-width: $lg-device) {
    .product-one {
        margin-top: rem(216px);
    }
}

@media (min-width: $xl-device) {
    .product-one {
        margin-top: 0;
    }
    .py-10 {
        padding: rem(10px) 0;
    }
}

//product slider End
// Category Filter Start
.category-filter-section {
    margin-top: rem(48px);
    margin-bottom: rem(38px);
    display: none;
}

.category-filter-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: rem(-16px);
    margin-right: rem(-16px);
}

.category-filter-col-9 {
    flex: 0 0 66.6666%;
    min-width: 66.6666%;
    padding-left: rem(16px);
    padding-right: rem(16px);
}

.category-filter-col-3 {
    flex: 0 0 33.3333%;
    min-width: 33.3333%;
    padding-left: rem(16px);
    padding-right: rem(16px);
}

.sales-checkbox {
    color: $danger;
    label {
        color: $danger;
    }
}

@media (min-width: $xl-device) {
    .category-filter-section {
        display: block;
    }
}

// Category Filter End
// Category Sort by Dropdown Start
.dropdown-box {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.dropdown-btn {
    background: none !important;
    font-weight: 600;
    font-size: rem(15px);
    line-height: rem(20px);
    text-align: right;
    color: #556068;
    border: none;
    padding: rem(10px);
    padding-right: rem(20px);
    min-width: rem(180px);
    position: relative;
    &:after {
        position: absolute;
        display: inline-block;
        transition: all 0.4s ease-in-out;
        content: "";
        background-image: url("./images/down-arrow-gray.svg");
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 50%;
        width: rem(12px);
        height: rem(12px);
        margin: rem(-4px) 0 0 0;
    }
}

.dropdwon-list-wrap {
    min-width: rem(240px);
    position: absolute;
    background: $white;
    border: 1px solid $gray10;
    border-radius: rem(12px);
    top: 100%;
    right: 0;
    z-index: 11;
    list-style: none;
    padding: rem(6px) 0;
    transition: 0.4s opacity ease-in-out, 0.3s margin ease-in-out, 0.4s visibility ease-in-out;
    opacity: 0;
    visibility: hidden;
    max-height: 320px;
    overflow-y: auto;
    @include scrollbars(15px,
    5px,
    24px,
    $white,
    $white,
    $white);
    &:hover {
        @include scrollbars(15px,
        5px,
        24px,
        $white,
        $gray10,
        $gray20);
    }
    li {
        &:hover {
            .dropdwon-link {
                color: $primary;
            }
        }
    }
}

.left-dropdown-box {
    .dropdwon-list-wrap {
        right: auto;
        left: 0;
    }
}

.mt-0-dropdown-box {
    .dropdwon-list-wrap {
        margin-top: 0 !important;
    }
}

.dropdwon-link {
    color: inherit;
    padding: rem(10px) rem(16px);
    font-weight: 600;
    font-size: rem(15px);
    line-height: rem(20px);
    color: $gray;
    display: block;
    transition: .2s all ease;
}

.open {
    .dropdwon-list-wrap {
        // display: block;
        // transform: scaleY(1);
        margin-top: 10px;
        opacity: 1;
        visibility: visible;
    }
}

.selected {
    .dropdwon-link {
        color: $primary;
    }
}

// Category Sort by Dropdown End
// Final Category Start
.final-product-list-section {
    margin-bottom: rem(24px); // 32 - 8
}

.final-categories-title-section {
    margin-bottom: rem(16px);
    margin-top: rem(64px); // 56 +4
    .final-categories-title {
        margin: 0;
        font-size: rem(28px);
        line-height: rem(36px);
    }
}

.final-category-filter-section {
    display: none;
}

.final-product-row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: rem(-8px);
    margin-right: rem(-8px);
}

.final-product-col {
    flex: 0 0 50%;
    max-width: 50%;
    // padding-left: rem(8px);
    // padding-right: rem(8px);
    // padding-bottom: rem(8px);
    // padding-bottom: rem(8px);
    padding: rem(8px);
}

@media (min-width: $md-device) {
    .final-product-list-section {
        margin-bottom: rem(36px); // 48 - 12
    }
    .final-categories-title-section {
        margin-bottom: rem(20px);
        margin-top: rem(64px);
        .final-categories-title {
            font-size: rem(36px);
            line-height: rem(44px);
        }
    }
    .final-product-row {
        margin-left: rem(-12px);
        margin-right: rem(-12px);
    }
    .final-product-col {
        flex: 0 0 25%;
        max-width: 25%;
        padding: rem(12px);
        // padding-left: rem(12px);
        // padding-right: rem(12px);
    }
}

@media (min-width: $lg-device) {
    .final-product-list-section {
        margin-bottom: rem(48px); // 64 - 16
    }
    .final-product-row {
        margin-left: rem(-16px);
        margin-right: rem(-16px);
    }
    .final-product-col {
        flex: 0 0 20%;
        max-width: 20%;
        padding: rem(16px);
        // padding-left: rem(16px);
        // padding-right: rem(16px);
    }
}

@media (min-width: $xl-device) {
    .final-categories-title-section {
        margin-top: 0 !important;
    }
    .final-product-list-section {
        margin-bottom: rem(64px); // 80 - 16
    }
    .final-category-filter-section {
        display: block;
        margin-top: rem(40px);
        margin-bottom: rem(32px);
    }
    .final-product-col {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
}

// Pagination Start
.pagination-section {
    margin-bottom: rem(32px);
}

@media (min-width: $md-device) {
    .pagination-section {
        margin-bottom: rem(48px);
    }
}

@media (min-width: $lg-device) {
    .pagination-section {
        margin-bottom: rem(64px);
    }
}

@media (min-width: $xl-device) {
    .pagination-section {
        margin-bottom: rem(120px);
    }
}

// Pagination End
// Sticky Sort by Dropdown Pagination
.sticky-sortby-section {
    position: fixed;
    top: rem(136px);
    left: 0;
    right: 0;
    width: 100%;
    padding: rem(2px) 0;
    background: rgba($white, 0.9);
    backdrop-filter: blur(20px);
    display: none;
    z-index: 8;
    transform: translateY(-100%);
    transition: all 0.4s ease-in-out;
    &.active {
        transform: translateY(0);
    }
}

.sticky-sortby-row {
    display: flex;
    position: relative;
    margin-left: rem(-26px);
    margin-right: rem(-26px);
    justify-content: space-between;
    align-items: center;
}

.sticky-sortby-col {
    padding-left: rem(16px);
    padding-right: rem(16px);
}

.categories-list-pad {
    padding-top: rem(88px);
    .sub-category-btn-wrap {
        display: none;
    }
}

@media (min-width: $xl-device) {
    .sticky-sortby-section {
        display: block;
    }
    .categories-list-pad {
        padding-top: 0;
    }
}

// helper Classes
.mb-16px {
    margin-bottom: rem(16px);
}

.mt-80px {
    margin-top: rem(80px);
}

.text-center {
    text-align: center;
}

//categories color
.light-pink {
    background-color: $light-pink;
}

.light-orange {
    background-color: $light-orange;
}

.lightest-pink {
    background-color: $lightest-pink;
}

.lightest-gray {
    background-color: $lightest-gray;
}

.lightest-cream {
    background-color: $lightest-cream;
}

.lightest-yellow {
    background-color: $lightest-yellow;
}

.light-cream {
    background-color: $light-cream;
}

.light-purple {
    background-color: $light-purple;
}

.light-green {
    background-color: $light-green;
}

.light-red {
    background-color: $lightest-red;
}

.light-yellow {
    background-color: $light-yellow;
}

.orange {
    background-color: $orange;
}

.align-center {
    align-items: center;
}