@import "../../../resources/css/scss/variable";
@import "../../../resources/css/scss/mixins";
.custom-radio,
.custom-checkbox,
.toggle-switch,
.heart-checkbox,
.switch-toggle {
    display: inline-flex;
    align-items: center;
    input[type="radio"],
    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
    }
}

.custom-radio,
.custom-checkbox {
    input[type="radio"],
    input[type="checkbox"] {
        +.radio-label,
        +.checkbox-label {
            display: inline-flex;
            align-items: center;
            font-family: $font-family;
            position: relative;
            font-size: rem(15px);
            line-height: rem(20px);
            padding-left: 34px;
            cursor: pointer;
            transition: .2s all linear;
            &:before,
            &:after {
                content: "";
                border-radius: 100%;
                display: inline-block;
                width: 24px;
                height: 24px;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -12px;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
                border: 2px solid $gray70;
                background-color: $white;
            }
            &:after {
                background-image: url("../icons/check-primary.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 14px 12px;
                transform: scale(0);
                background-color: transparent;
                border-color: transparent;
            }
        }
        &:hover {
            +.radio-label,
            +.checkbox-label {
                &:before {
                    border-color: $primary;
                }
                &:after {
                    transform: scale(1);
                }
            }
        }
        &:checked {
            +.radio-label,
            +.checkbox-label {
                &:before {
                    background-color: $primary;
                    border-color: $primary;
                }
                &:after {
                    background-image: url("../icons/check.svg");
                    transform: scale(1);
                }
            }
            &:hover {
                +.radio-label,
                +.checkbox-label {
                    &:before {
                        background-color: $primary;
                        border-color: $primary;
                    }
                    &:after {
                        background-image: url("../icons/check.svg");
                        opacity: 0.4;
                    }
                }
            }
        }
        &:disabled,
        &:disabled:hover,
        &.disabled,
        &.disabled:hover {
            +.radio-label,
            +.checkbox-label {
                color: $gray70;
                cursor: not-allowed;
                user-select: none;
                pointer-events: none;
                &:before {
                    background-color: $gray10;
                    border-color: $gray50;
                }
                &:after {
                    background-image: none;
                    opacity: 1;
                }
            }
        }
        &:checked:disabled,
        &:checked:disabled:hover,
        &.disabled:checked,
        &.disabled:checked:hover {
            +.radio-label,
            +.checkbox-label {
                &:before {
                    background-color: $gray10;
                    border-color: $gray10;
                }
                &:after {
                    background-image: url("../icons/check-gray.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 14px 12px;
                    opacity: 1;
                }
            }
        }
    }
    &.flex-start {
        align-items: flex-start;
        input[type="radio"],
        input[type="checkbox"] {
            +.radio-label,
            +.checkbox-label {
                &:before,
                &:after {
                    top: 0;
                    margin-top: -.5px;
                }
            }
        }
    }
}

.custom-checkbox {
    input[type="radio"],
    input[type="checkbox"] {
        +.radio-label,
        +.checkbox-label {
            &:before,
            &:after {
                width: 20px;
                height: 20px;
                border-radius: 6px;
            }
        }
        &:hover,
        &:checked {
            +.radio-label,
            +.checkbox-label {
                &:after {
                    transform: scale(.8);
                }
            }
        }
    }
}

.flex-1 {
    flex: 1;
}

.toggle-switch {
    .checkbox-label {
        cursor: pointer;
        text-indent: -9999px;
        width: 54px;
        height: 32px;
        background: $gray20;
        border-radius: 16px;
        position: relative;
        transition: all 250ms ease;
        display: inline-block;
        &:after {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            width: 28px;
            height: 28px;
            background: $white;
            border-radius: 28px;
            transition: all 250ms ease;
        }
    }
    input[type="checkbox"] {
        &:checked {
            +.checkbox-label {
                background: $black;
                &:after {
                    left: calc(100% - 2px);
                    transform: translateX(-100%);
                }
            }
        }
    }
}

.switch-primary {
    input[type="checkbox"] {
        &:checked {
            +.checkbox-label {
                background: $primary;
            }
        }
    }
}

.heart-checkbox {
    input[type="checkbox"] {
        +.checkbox-label {
            cursor: pointer;
            width: 15px;
            height: 14px;
            transition: all 250ms ease;
            position: relative;
            &:after,
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background-color: $gray20;
                -webkit-mask: url("../icons/heart.svg") no-repeat center;
                mask: url("../icons/heart.svg") no-repeat center;
                width: 100%;
                height: 100%;
                transition: all 250ms ease;
            }
            &:after {
                background-color: $danger;
                transform: scale(0);
            }
        }
        &:checked {
            +.checkbox-label {
                &:after {
                    transform: scale(1);
                }
            }
        }
        &:disabled,
        &.disabled {
            +.checkbox-label {
                color: $gray70;
                cursor: not-allowed;
                user-select: none;
                pointer-events: none;
            }
        }
    }
}

.heart-checkbox-lg {
    input[type="checkbox"] {
        +.checkbox-label {
            width: 22px;
            height: 20px;
        }
    }
}

.space-between {
    display: flex;
    .radio-label {
        flex: 1;
        .flex-1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.out-of-stock {
    input[type="radio"],
    input[type="checkbox"] {
        &:disabled,
        &:disabled:hover,
        &.disabled,
        &.disabled:hover {
            +.radio-label,
            +.checkbox-label {
                color: $gray50;
                &:before {
                    background-color: $white;
                    border-color: $gray20;
                }
            }
        }
    }
}

.radio-style2 {
    input[type="radio"],
    input[type="checkbox"] {
        &:checked {
            +.radio-label,
            +.checkbox-label {
                color: $primary;
                font-weight: 600;
            }
        }
    }
}

.switch-toggle {
    position: relative;
    min-height: rem(40px);
    border-radius: rem(33px);
    display: flex;
    align-items: center;
    background-color: $gray10;
    margin: rem(10px) 0;
    input {
        +label {
            position: relative;
            z-index: 2;
            flex: 0 0 50%;
            min-height: rem(40px);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: $gray70;
            font-weight: 700;
            font-size: rem(16px);
            line-height: rem(16px);
            ~label,
            ~a {
                flex: 0 0 50%;
                transition: .2s all linear
            }
            ~a {
                position: absolute;
                top: 0;
                left: 0;
                padding: 0;
                z-index: 1;
                width: 50%;
                height: 100%;
                border-radius: rem(33px);
                background-color: $primary;
                color: $white;
            }
            +input:checked+label~a {
                left: 50%;
            }
        }
        &:checked {
            +label {
                color: $white;
            }
        }
        &:disabled,
        .disabled {
            +label {
                opacity: .3;
                cursor: not-allowed;
            }
        }
    }
}

.full-w {
    width: 100%;
    input[type="radio"],
    input[type="checkbox"] {
        +.radio-label,
        +.checkbox-label {
            width: 100%;
        }
    }
}