@mixin list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin scrollbars( $size, $border-size, $border-radius, $bg-scroll-color, $foreground-color, $background-color) {
    // For Google Chrome
    &::-webkit-scrollbar {
        width: $size;
        background-color: $bg-scroll-color;
        border-radius: $border-radius;
    }
    &::-webkit-scrollbar-track {
        border-radius: $border-radius;
        background: $foreground-color;
        border: $border-size solid transparent;
        background-clip: content-box;
        margin: rem(14px) 0;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: $border-radius;
        background: $background-color;
        border: $border-size solid transparent;
        background-clip: content-box;
    }
    // For Internet Explorer
    & {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

@mixin img-aspect-ratio {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
}

@mixin multi-line-ellipsis-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}